/* MainPage.css */

/* Konténer sor */
.row-container {
  display: flex;
  justify-content: center; /* Tartalom középre igazítása a vízszintes tengelyen */
  align-items: center; /* Tartalom középre igazítása a függőleges tengelyen */
  height: 100vh; /* Teljes képernyős magasság */
  background-color: #f8f9fa; /* Világosszürke háttérszín */
}

/* Tartalom oszlop */
.col-content {
  text-align: center; /* Tartalom középre igazítása */
}

/* Üdvözlő kártya */
.cardudvozlo {
  background-color: #007bff; /* Kék háttérszín */
  color: #fff; /* Fehér szövegszín */
  padding: 20px;
  border-radius: 10px; /* Kerekített sarkok */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Árnyék */
}

/* Menü kártya */
.cardmenu {
  margin-top: 20px; /* Felső margó */
  background-color: #fff; /* Fehér háttérszín */
  padding: 20px;
  border-radius: 10px; /* Kerekített sarkok */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Árnyék */
}

/* Fejléc szöveg */
.header {
  font-size: 24px;
  margin-bottom: 10px; /* Alsó margó */
}

/* Menüpontok szövege */
.ctext {
  margin-bottom: 5px; /* Alsó margó */
}